* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d2630;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Roboto', sans-serif; /* Example: Using Roboto font */
}

/* Example: Add @import rule if using Google Fonts or similar */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spinner-box {
    position: relative;
    width: 150px;
    height: 150px;
}

.leo-border-1, .leo-border-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.leo-border-1 {
    background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgb(63 232 249) 100%);
    animation: spin3D 1.8s linear 0s infinite;
}

.leo-core-1 {
    width: 100%;
    height: 100%;
    background-color: #37474faa;
    border-radius: 50%;
}

.leo-border-2 {
    background: linear-gradient(0deg, rgba(251, 91, 83, 0.1) 33%, rgb(251 83 154) 100%);
    animation: spin3D 2.2s linear 0s infinite;
}

.leo-core-2 {
    width: 100%;
    height: 100%;
    background-color: #1d2630aa;
    border-radius: 50%;
}

@keyframes spin3D {
    from {
        transform: rotate3d(.5, .5, .5, 360deg);
    }
    to {
        transform: rotate3d(0deg);
    }
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="password"], button {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
}

form label {
    color: #e0e0e0; /* Lighter color for better visibility on dark background */
}

button {
    background-color: #ff0081;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e60074;
}